/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2014, 2:03:41 AM
    Author     : YiHao
*/



body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
} 

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 180px;					
    height: 50px;					
    padding: 12px;				
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #ff0000 ;
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}




